/*  FONTS
- Lato light - menu

font-family: 'Lato',
sans-serif;



- Playfair display italic - cuerpo

font-family: 'Playfair Display',
serif;


- Quicksand light - titulos
font-family: 'Quicksand',
sans-serif;
 ------------------------------------------------ */

/* GENERAL 
-------------------------------------------------- */

* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* NAVIGATION BAR 
-------------------------------------------------- */

.nav-containers {
  background-color: white;
  font-family: 'Lato',
    sans-serif;
  font-weight: light;
}

.fixed-top {
  background-color: hsl(0, 0%, 0%) !important;
  -webkit-box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  color: #05dfd7 !important;
  transition: 0.5s;
}

.navbar-brand:hover {
  color: #ffffff !important;
}

.nav-texts {
  color: white !important;
  font-family: 'Lato',
    sans-serif;
  font-weight: light;
  text-align: left;
  text-decoration: none;
  background-image: linear-gradient(to right,
      hsl(266, 100%, 57%),
      hsl(188, 73%, 61%));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s ease color 0.7s ease infinite;
  transition: 1.1s;
}

.active {
  color: hsl(266, 100%, 57%) !important;
  font-family: 'Lato',
    sans-serif;
  font-weight: light;
  text-align: left;
  background-size: 75% 1px;
}

.nav-texts:hover {
  color: hsl(266, 100%, 57%) !important;
  font-family: 'Lato',
    sans-serif;
  font-weight: light;
  text-align: left;
  background-size: 100% 2px;
}

.socialmedia-nav {
  text-align: left;
}

.socialmedia-nav a {
  padding-left: 20px;
  color: white !important;
}

.socialmedia-nav a:hover {
  color: hsl(188, 73%, 61%) !important;
}

.nav-button {
  background-color: black !important;
}


/* FOOTER SECTION 
-------------------------------------------------- */

footer {
  background-color: white;
  font-family: 'Lato',
    sans-serif !important;
  font-weight: light;
}

.call-to-action h6 {
  color: white !important;
}