/*  FONTS
font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif;
 ------------------------------------------------ */

/* GENERAL 
-------------------------------------------------- */

* {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/* NAVIGATION BAR 
-------------------------------------------------- */

.nav-containers {
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.fixed-top {
  background-color: hsl(0, 0%, 0%) !important;
  -webkit-box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -30px 20px 67px rgba(0, 0, 0, 0.75);
}

.navbar-brand {
  color: #05dfd7 !important;
  transition: 0.5s;
}

.navbar-brand:hover {
  color: #ffffff !important;
}

.nav-texts {
  color: white !important;
  font-family: "Raleway", sans-serif;
  text-align: left;
  text-decoration: none;
  background-image: linear-gradient(to right,
      hsl(266, 100%, 57%),
      hsl(188, 73%, 61%));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s ease color 0.7s ease infinite;
  transition: 1.1s;
}

.nav-texts:hover {
  color: hsl(266, 100%, 57%) !important;
  font-family: "Raleway", sans-serif;
  text-align: left;
  background-size: 100% 2px;
}

.socialmedia-nav {
  text-align: left;
}

.socialmedia-nav a {
  padding-left: 20px;
  color: white !important;
}

.socialmedia-nav a:hover {
  color: hsl(188, 73%, 61%) !important;
}

.nav-button {
  background-color: black !important;
}

/* HEADER SECTION 
-------------------------------------------------- */

.jumbotron-header {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0;
  height: 55rem;
  background-image: linear-gradient(0turn,
      hsla(0, 0%, 0%, 0.719),
      hsla(266, 81%, 35%, 0.623)),
    url(../images/header-background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron-header h1 {
  font-family: Roboto;
  font-size: 4rem;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  margin-top: 50px;
}

.span-art {
  font-family: Roboto;
  font-size: 5rem;
  text-transform: uppercase;
  color: #05dfd7;
  font-weight: bold;
}

.jumbotron-header p {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8f8f8;
  line-height: 1.75;
  text-align: left;
  margin-top: 50px;
}

.callToAction {
  text-align: center !important;
  align-items: center;
  margin: 50px 0;
}

.callToAction p {
  text-align: center !important;
  align-items: center;
}

.buttonContact {
  color: white;
  background-color: hsl(266, 81%, 35%);
}

.buttonContact:hover {
  color: white;
  background-color: hsl(266, 84%, 20%);
}

/* Quienes somos 
-------------------------------------------------- */

#somos {
  background-color: white;
}

.title-container {
  padding: 50px 10px;
  text-align: center;
}

.title-container h1 {
  font-size: 5rem;
}

.title-container h4 {
  padding: 10px;
  text-align: center;
}

.card-group {
  width: 100%;
  padding: 10px 20px;
  margin: 20px 10px;
}

.card {
  padding: 10px 20px;
  margin: 0 10px;
  border: 0px solid hsl(266, 81%, 35%);

}

.card-img-top {
  filter: grayscale(100%);
  transition: 1s;
}

.card-img-top:hover {
  filter: grayscale(0%);
}

.button-container {
  text-align: center;
  padding: 50px 0;
  background-color: white;
}

.buttonSomos {
  color: black;
  background-color: white;
  transition: .5s;

}

.buttonSomos:hover {
  color: black;
  background-color: hsla(265, 60%, 81%, 0.904);
}


/* Nuestros productos  
-------------------------------------------------- */

.products-container {
  text-align: left;
  align-items: center;
  padding: 200px 150px;
  background-color: #f4f6ff;
}

.text-muted {
  color: hsl(266, 100%, 57%) !important;
  font-size: 2rem;
}

.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 75%;
  background-color: hsl(266, 100%, 57%);
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* FOOTER SECTION 
-------------------------------------------------- */

#footer {
  background-color: white;
}

.call-to-action h6 {
  color: white !important;
}